.hidden-scroll::-webkit-scrollbar { width: 0 !important }

.card-img-top{
  border-radius: 0px !important;
  width: 90%;
  margin-top: 9rem;
  margin-bottom:5rem;
}

.column-row{
  margin: 0;
  padding: 0;
  height: 90vh; 
  padding-top: 2vh; 
  padding-bottom: 2vh;
  background-color: aquamarine;
}

.description{
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (min-width: 720px) {
  .hidden-scroll{
    height: 100%; 
    overflow-y: scroll;
    display: inline-block;
    text-align: center;
    border-left:black 2px solid;
  }
}

@media only screen and (max-width: 719px) {
  .hidden-scroll{
    height: auto;
    text-align: center;
    background-color: aquamarine;
  }
  .abs{
    display: none;
  }
}

@media only screen and (max-height: 700px){
  .column-row{
    height:700px;
  }
}

@media only screen and (max-height: 500px){
  .head{
    height:50px !important;
  }
}

.absolutely{
  position: absolute;
  right: 10px;
  top: 20px;
}

.title{
  font-family: 'Roboto Mono', monospace;
}

.our-work{
  font-family: 'Roboto', sans-serif;
}

.head{
  outline: black 3px solid;
  margin: 0;
  padding: 0;
  background-color: pink;
  height:10vh;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */